.box {
    position: fixed;
    top: 0;
    transform: rotate(80deg); 
    left: 0;
  }
  
  .wave {
    position: absolute;
    opacity: .4;
    width: 1500px;
    height: 1300px;
    margin-left: -150px;
    margin-top: -250px;
    border-radius: 43%;
  }