body {
    /* background: url('../images/background_acaestamos.png') no-repeat center center fixed; */
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1); /* Color de fondo con 50% de transparencia */
  }

#navbar1 {
    display: inline;
}

#footer1 {
    display: block;
}

